.keyValue {
    align-items: center;
    display: flex;
    margin-block-end: .75rem;
}

.key,
.value {
    flex: 1 0 0;
}

.key {
    font-weight: 600; 
    text-align: start;
}

.value {
    font-weight: 300;
    text-align: end;
}