.table {

}

.head {
    background-color: var(--accent-fade);
    border-radius: 4px;
    display: flex;
    padding: .75rem;
}



.row {
    border-block-start: 1px solid var(--app-border-color);
    display: flex;
    padding: .75rem;
}

.row:nth-of-type(even) {
    background-color: var(--fade);
}