.app {
    display: flex;
    width: 100vw;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-inline-start: 100px;
    min-height: 100vh;
    padding: 1.5rem;
}

.main {
    flex-grow: 1;
    position: relative;
}

@media (min-width: 640px) {

}

@media all and (min-width: 768px) {

}

@media (min-width: 1024px) {

    .content {
        margin-inline-start: 280px;
    }
}

@media (min-width: 1280px) {

}

@media (min-width: 1536px) {}
