@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;600&family=Open+Sans:ital,wght@0,300;0,700;1,400&family=Poppins:wght@200;400;700&display=swap');

:root {
  --bg-color: #f3f4f6;
  --font-color: #333;
  --accent-color: #3b63f6;
  --accent-fade: #f3f4ff;

  --default-transition: all .2s ease-in;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

p {
  margin-block-end: .375rem;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

.u-link {
  color: var(--font-color);
  text-decoration: none;
}