.nav {
    background-color: #fff;
    flex-shrink: 0;
    min-height: 100vh;
    padding: 1.5rem;
    width: 240px;
}

.logo {
    margin-block-end: 3rem;
    width: 75%;
}

.block {
    margin-block-end: 1.5rem;
}

.menu_title {
    margin-block-end: .375rem;
}

.menu_listItem {
    margin-block-end: .375rem;
    padding: .1875rem;
    transition: var(--default-transition);
}

.menu_listItem:hover {
    background-color: aliceblue;
}