.nav {
    background-color: #fff;
    flex-shrink: 0;
    min-height: 100vh;
    padding: 1.5rem;
    width: 280px;
}

.logo {
    margin-block-end: 3rem;
    width: 75%;
}

.block {
    margin-block-end: 1.5rem;
}

.menu_title {
    margin-block-end: .375rem;
}

.menu_listItem {
    align-items: center;
    border-radius: 4px;
    display: flex;
    margin-block-end: .1875rem;
    padding: .375rem .75rem;
    transition: var(--default-transition);
}

.icon {
    align-items: center;
    display: flex;
    margin-inline-end: .75rem;
}

.menu_listItem:hover {
    background-color: var(--accent-fade);
}